body {
  font-family: monospace;
  padding: 20px;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
#mainContainer {
  gap: 20px 10px;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
}
.inputBox {
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}
textarea {
  resize: none;
  font-family: monospace;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid green;
}
label {
  font-weight: bold;
  font-size: large;
}

textarea::placeholder {
  font-style: italic;
}
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 10px salmon;
}

button {
  font-family: monospace;
  color: pink;
  font-weight: bold;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background-color: green;
}
button:hover {
  background-color: rgb(0, 163, 0);
  box-shadow: 0px 0px 10px salmon;
}
#mainContainer div:nth-child(2n) textarea {
  border: 3px solid salmon;
}
#mainContainer div:nth-child(2n) textarea:focus {
  outline: none;
  box-shadow: 0px 0px 10px green;
}
#mainContainer div:nth-child(2n) button {
  color: green;
  background-color: pink;
}
#mainContainer div:nth-child(2n) button:hover {
  background-color: rgb(254, 209, 216);
  box-shadow: 0px 0px 10px green;
}
